/* Fixes the size of the RTD flyout */
.rst-versions {
	width: 320px !important;
}

/* Content area color */
.wy-nav-content {
	background: #fcfcfc;
}

/* Scroll Bar*/
.wy-side-scroll {
	width: auto;
	overflow-y: auto;
	margin-top: 0px;
}

/* width of the side panel */
.wy-nav-side {
	width: 320px;
}

/* content section full screen */
.wy-nav-content {
   max-width: none; 
}

/* set color of left side bar */
.wy-nav-side,.wy-side-nav-search,.wy-nav-top {
	background: #005eb8;
}

/* Change caption color to be more legible */
.wy-menu > .caption > span.caption-text {
   color: green;
}

/* Hide color bar on mobile */
@media screen and (max-width: 768px) {

	.wy-nav-content-wrap {
		margin-left: 0px;
	}

	.wy-nav-side {
		width: 300px;
	}
}